.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980px;
  height: 100vh;
  margin: 0 auto
}

.item-list {
  min-width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list ul {
  list-style-type: none;
}

.item-list ul li {
  cursor: pointer;
  font-size: 2rem;
}

.detailed-view {
  min-width: 40%
}

.detailed-view h2 {
  font-size: 2rem;
}


